[Unit]
Description=Docker DroneDB Service
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -d --rm --name dronedb -p $PORT:5000 -v $DATA_DIR:/data dronedb/registry:1.0.17
ExecStop=/usr/bin/docker stop dronedb
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=docker-dronedb

[Install]
WantedBy=multi-user.target